<div class="content">
<span>{{title}}</span>

<h2>Reactive Form</h2>

<form [formGroup]="form">

<h3>Date and Time</h3>
<date-time-picker
  formControlName="datetime1"
  id="datetime1"
  pickerType="both"
></date-time-picker>
<p>{{ getFormValue("datetime1") }}</p>

<h3>Date</h3>
<date-time-picker
  formControlName="datetime2"
  id="datetime2"
  pickerType="calendar"
></date-time-picker>
<p>{{ getFormValue("datetime2") }}</p>

<h3>Time</h3>
<date-time-picker
  formControlName="datetime3"
  id="datetime3"
  pickerType="timer"
></date-time-picker>
<p>{{ getFormValue("datetime3") }}</p>

<h3>Time with 5 min step</h3>
<date-time-picker
  formControlName="datetime4"
  id="datetime4"
  pickerType="timer"
  stepMinute=5
></date-time-picker>
<p>{{ getFormValue("datetime4") }}</p>

</form>

<h2>Model-Driven Form</h2>

<form novalidate>

<h3>Date and Time</h3>
<date-time-picker
  [(ngModel)]="datetime5"
  id="datetime5"
  name="datetime5"
  pickerType="both"
></date-time-picker>
{{ datetime5 }}

</form>

</div>
